.cart {
  composes: primaryColor from "../colors.module.css";
  composes: primaryBgLight from "../colors.module.css";
  padding: 16px;
  width: calc(100% - 16px * 2);
  border-radius: 8px;
}

.cart ul {
  list-style: none;
  padding-inline-start: 0;
}

.checkout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.checkout .price {
  flex-shrink: 0;
}

.checkout button {
  margin-left: auto;
}

@media (max-width: 520px) {
  .checkout {
    margin-top: 32px;
    justify-content: center;
  }
  .checkout button {
    flex: 0 0 100%;
  }
}

@media (min-width: 520px) {
  .checkout {
    margin-top: 48px;
  }
}
