.cart {
  composes: primaryBgLight from "../colors.module.css";
  padding: 16px;
  width: calc(100% - 16px * 2);
  border-radius: 8px;
}

.cart ul {
  list-style: none;
  padding-inline-start: 0;
}

.checkout {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkout button {
  margin-left: auto;
}
