.defaultQuantity,
.cartItemQuantity {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}

.defaultQuantity {
  justify-content: space-between;
}

.defaultQuantity .quantity {
  margin-top: 8px;
}

.cartItemQuantity {
  justify-content: center;
}

.cartItemQuantity .quantity {
  justify-content: center;
}

.quantity {
  display: flex;
  align-items: stretch;
}

.quantity button {
  margin: 0;
}

.quantityInput {
  composes: secondaryBorder from "../colors.module.css";
  max-width: 50px;
  text-align: center;
  outline: none;
  border-width: 2px;
  border-style: solid;
}

@media (max-width: 520px) {
  .cartItemQuantity {
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 24px;
  }
}
