.cartItem {
  composes: secondaryBorder from "../colors.module.css";
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  border-radius: 8px;
  text-align: start;
  margin-bottom: 24px;
}

.cartItemImg {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.cartItem h3 {
  font-size: 18px;
  margin-top: 0;
}

@media (max-width: 520px) {
  .cartItemDetails {
    margin-top: 16px;
  }
}

@media (min-width: 521px) {
  .cartItem {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .cartItemImg {
    flex: 0 0 70px;
    max-width: 70px;
  }

  .cartItemDetails {
    flex: 1 1 50%;
    max-width: 50%;
    margin-right: auto;
  }
}

@media (min-width: 521px) and (max-width: 920px) {
  .cartItem {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cartItemImg {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
